@import "tailwindcss";

@theme {
  --font-sans: "Roboto";
  --font-mono: "Roboto Mono";
  --color-1b-black: var(--color-neutral-800);
  --color-1b-white: #f0f6f0;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  src: url(/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: block;
  src: url(/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf)
    format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-display: block;
  src: url(/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf) format("woff2");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-display: block;
  src: url(/fonts/RobotoMono/RobotoMono-Italic-VariableFont_wght.ttf)
    format("woff2");
}

html,
body {
  @apply text-neutral-800 bg-neutral-100;
  @apply dark:text-1b-white dark:bg-1b-black;
  @apply font-normal tracking-wide;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

article {
  @apply text-xl text-neutral-800 dark:text-neutral-300;
}

article h1 {
  @apply text-3xl font-bold mt-12 mb-6;
  @apply text-1b-black dark:text-1b-white;
}
article h2 {
  @apply text-2xl font-bold mt-10 mb-6;
  @apply text-1b-black dark:text-1b-white;
}
article h3,
article h4,
article h5,
article h6 {
  @apply text-xl font-bold mt-8 mb-4;
  @apply text-1b-black dark:text-1b-white;
}

article p {
  @apply my-6;
}

article a {
  @apply text-blue-600 dark:text-blue-400 hover:underline;
}

article ol {
  @apply list-decimal pl-8 my-6;
}

article ul {
  @apply list-disc pl-8;
}

article pre {
  @apply p-6 rounded-2xl text-base font-mono;
}

article code:not(pre > code) {
  @apply rounded-md text-sm py-0.5 px-1.5 font-mono bg-neutral-300 dark:bg-neutral-700;
}

article blockquote {
  @apply px-6 py-1 bg-neutral-300 dark:bg-neutral-700 border-l-blue-400 dark:border-l-blue-200 border-l-8 my-6 rounded-sm;
}

article table {
  @apply rounded-md overflow-hidden w-full text-sm text-left rtl:text-right;
}
article thead tr {
  @apply text-xs uppercase bg-neutral-200 dark:bg-[#384048];
}
article tbody tr {
  @apply bg-neutral-300 dark:bg-[#24292e];
}
article th,
article td {
  @apply px-6 py-4;
}
